<div class="w-full bg-red-500 rounded-lg shadow-lg p-6 max-w-screen-lg mx-auto border border-red-600">
    <h3 class="text-2xl font-semibold text-white mb-6 text-center">Pizzeria liru sisa</h3>

    <form [formGroup]="pedidoForm" (ngSubmit)="agregarPizza()">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
            <div class="mb-6">
                <input class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" 
                    type="text"
                    placeholder="Nombre completo"
                    formControlName="nombreCliente"/>
            </div>

            <div class="mb-6">
                <input class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
                    type="text"
                    placeholder="Dirección"
                    formControlName="direccion"/>
            </div>

            <div class="mb-6">
                <input class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
                    type="text"
                    placeholder="Teléfono"
                    formControlName="telefono"/>
            </div>

            <div class="mb-6">
                <input class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
                    type="date"
                    placeholder="Fecha de compra"
                    formControlName="fechaCompra"/>
            </div>
        </div>

        <h4 class="text-lg font-semibold text-white mt-6 mb-2">Tamaño de Pizza</h4>
        <div class="flex items-center gap-6 mb-6">
            <label class="flex items-center text-white">
                <input type="radio" formControlName="tamanoPizza" value="Chica" class="mr-2" />
                Chica $40
            </label>
            <label class="flex items-center text-white">
                <input type="radio" formControlName="tamanoPizza" value="Mediana" class="mr-2" />
                Mediana $80
            </label>
            <label class="flex items-center text-white">
                <input type="radio" formControlName="tamanoPizza" value="Grande" class="mr-2" />
                Grande $120
            </label>
        </div>

        <h4 class="text-lg font-semibold text-white mt-6 mb-2">Ingredientes</h4>
        <div class="flex flex-wrap gap-4 mb-6">
            <label class="flex items-center text-white">
                <input type="checkbox" formControlName="jamon" class="mr-2" />
                Jamón $10
            </label>
            <label class="flex items-center text-white">
                <input type="checkbox" formControlName="pina" class="mr-2" />
                Piña $10
            </label>
            <label class="flex items-center text-white">
                <input type="checkbox" formControlName="champinones" class="mr-2" />
                Champiñones $10
            </label>
        </div>

        <div class="mb-6">
            <input
                class="w-full px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
                type="number"
                placeholder="Número de Pizzas"
                formControlName="cantidadPizzas"
            />
        </div>

        <button
            class="w-full bg-red-600 hover:bg-red-700 text-white font-semibold py-3 px-6 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
            type="submit">Agregar
        </button>
    </form>
</div>
